body{
    max-width: 1920px;
    
}

header{
    text-align: center;
    h1{
        font-size: 4rem;
        margin-bottom: .25rem;

    }
}

    .redHeader{
        width: 100px;
        height: 20px;

        }

// Self looking up
.kadyn{
    display: flex;
    justify-content: center;

    .kadynSelfie{
        height: 15%;
        width:15%;
        border: 3px solid black;
    }
}

// Thought bubbles
.thoughts{
    display: flex;
    justify-content: center;

.thoughtBubble{
    width:20%;
    height:20%;
}

.thoughtBubble:first-child{
    transform: scaleX(-1);
}
}