body {
  max-width: 1920px; }

header {
  text-align: center; }
  header h1 {
    font-size: 4rem;
    margin-bottom: .25rem; }

.redHeader {
  width: 100px;
  height: 20px; }

.kadyn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  .kadyn .kadynSelfie {
    height: 20%;
    width: 20%;
    border: 3px solid black; }

.thoughts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  .thoughts .thoughtBubble {
    width: 25%;
    height: 25%; }
  .thoughts .thoughtBubble:first-child {
    transform: scaleX(-1); }
